h1 {
    background-color: #6439FF;
    color: #fff;
    padding: 30px 20px;
    margin:0;
}

#subtitle {
    display: flex;
    justify-content: center;
}

.bar {
    display: flex;
    justify-content: space-between;
    background-color: #8867fd;
    color: #fff;
    padding: 10px 10px;
    margin:0;
}

#logout {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #483686;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

}

#logout:hover {
    background-color: #9a7eff;
    color: black;
    border: 1px solid black;
}

.accounts-container, .frequent-destinations-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}

.individual-account-container {
    max-width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 5px 5px;
    padding: 5px 5px;
}

.individual-account-container:hover {
    background-color: #c9baff;
    transition: background-color 0.3s;
}

h3 {
    width: 100%;
}

.buttons-container {
    margin-top: 30px;
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: center;
}

.buttons-container a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #6439FF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttons-container a:hover {
    background-color: #9a7eff;
    color: black;
    border: 1px solid black;

}