body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.main-container {
  max-width: 800px;
  margin-bottom: 30px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sub-container{
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


h1 {
  font-size: 24px;
  margin-bottom: 20px;
  background-color: #6439FF;
  color: #fff;
  padding: 30px 20px;
  margin: 0;
  border-top-left-radius:10px ;
  border-top-right-radius: 10px;
  border-right: 1px solid rgb(6, 6, 17);
  border-left: 1px solid rgb(6, 6, 17);
  border-top: 1px solid rgb(6, 6, 17);
}

h2 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #0366d6;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

form {
  display: inline;
  margin: 0;
  padding: 0;
}

input[type="submit"] {
  cursor: pointer;
}

.button {
  display: flex;
 align-items: center;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #6439FF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 10px auto;

}

.button:hover {
  background-color: #6184a8;
  border: 1px solid black;
  color: black;
  transition: background-color 0.3s;
}

.bar {
  display: flex;
  justify-content: space-between;
  background-color: #8867fd;
  color: #fff;
  padding: 10px 10px;
  margin:0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-right: 1px solid rgb(6, 6, 17);
  border-left: 1px solid rgb(6, 6, 17);
  border-bottom: 1px solid rgb(6, 6, 17);
}

.bar-button {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #483686;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;

}

.bar-button:hover {
  background-color: #9a7eff;
  color: black;
  border: 1px solid black;
}

.left-button {
  margin-left: auto; 
  margin-right: 10px;
}

.sub-container form label,
.sub-container form input,
.sub-container form select {
  margin-bottom: 15px;
  width: 100%;
}
.sub-container form input[type="submit"] {
  margin-top: 10px;
}

