<!DOCTYPE html>
<html>
  {% extends 'base.html' %}

  {% block maintitle %}
    Account Details
  {% endblock %}
  {% load static %}
  {% block extrastatic %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/account_details.css' %}" />
    <script src="{% static 'js/common.js' %}"></script>
  {% endblock %}

  {% block subtitle%} Your accounts:{% endblock%}
  {%block subcontainer%}
      <div class="accounts-container">
        {% for account in user_accounts %}
          <div class="individual-account-container">
            <h2>{{ account.currency }} Account</h2>
            <p>Account number: {{ account.account_number }}</p>
            <p id="account-balance">Balance: {{ account.balance }}</p>
            <a id="transaction-button" href="{% url 'transaction_history' account.id %}">Transaction History</a>

            <form action="{% url 'delete_account' account.id %}" method="post">
              {% csrf_token %}
              <a id="delete-button" href="{% url 'delete_account' account.id %}">Delete account</a>
            </form>
          </div>
        {% endfor %}
        <div class="buttons-container">
          <a href="{% url 'make_transaction' %}">Transfer to another account</a><br />
          <a href="{% url 'open_new_account' %}">Open a new account</a><br />
        </div>
      </div>
      <div class="accounts-container">
        <h3 id="subtitle">Frequent Recipients:</h3>

        {% if frequent_destinations %}
          {% for destination in frequent_destinations %}
            <div class="individual-account-container">
              <p>Nickname: {{ destination.nickname }}</p>
              <p>Account Number: {{ destination.destination_account_number }}</p>
              <p>currency: {{destination.currency}}
              <form action="{% url 'delete_frequent_destination' destination.id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Delete" />
              </form>
            </div>
          {% endfor %}
        {% else %}
          <p>No frequent destinations found.</p>
        {% endif %}
      </div>
  {%endblock%}
  </body>
</html>
