{% extends 'base.html' %}

{% load static %}
{% block static_container %}
  <link rel="stylesheet" type="text/css" href="{% static 'common/css/common.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/account_details.css' %}" />
  <script src="{% static 'common/js/common.js' %}"></script>
{% endblock %}

{% block maintitle %}
  Account Details
{% endblock %}

{% block subtitle %}
  Your accounts:
{% endblock %}

{% block subcontainer %}
  <div class="accounts-container">
    {% for account in user_accounts %}
      <div class="individual-account-container">
        <h2>{{ account.currency }} Account</h2>
        <div class="account-details">
          <span class="copyToClipboard" data-account-number="{{ account.account_number }}">Account number: {{ account.account_number }}</span>
          <button id="copy-button" onclick="copyToClipboard(this)">Copy</button>
        </div>
        <p id="account-balance">Balance: {{ account.balance }}</p>
        <a id="transaction-button" href="{% url 'transaction_history' account.id %}">Transaction History</a>
        <form action="{% url 'delete_account' account.id %}" method="post">
          {% csrf_token %}
          <a id="delete-button" href="{% url 'delete_account' account.id %}">Delete account</a>
        </form>
      </div>
    {% endfor %}
    <div class="buttons-container">
      <a href="{% url 'make_transaction' %}">Make a transfer</a><br />
      <a href="{% url 'open_new_account' %}">Open a new account</a><br />
    </div>
  </div>
  <div class="accounts-container">
    <hr>
    <h3 id="subtitle">Frequent Recipients:</h3>

    {% if frequent_destinations %}
      {% for destination in frequent_destinations %}
        <div class="individual-account-container">
          <p>Nickname: {{ destination.nickname }}</p>
          <div class="account-details">
            <span class="copyToClipboard" data-account-number="{{ destination.destination_account_number }}">Account number: {{ destination.destination_account_number }}</span>
            <button id="copy-button" onclick="copyToClipboard(this)">Copy</button>
          </div>
          <p>currency: {{ destination.currency }}</p>
          <form action="{% url 'delete_frequent_destination' destination.id %}" method="post">
            {% csrf_token %}
            <input id="delete-button" type="submit" value="Delete" />
          </form>
        </div>
      {% endfor %}
    {% else %}
      <p>No frequent destinations found.</p>
    {% endif %}
  </div>
{% endblock %}
