<!DOCTYPE html>
<html>
  <head>
    <title>Make Transaction</title>
    {% load static %}
    {% block extrastatic %}
    <!-- modificar ubicación css-->
      <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}" />
      <script src="{% static 'js/common.js' %}"></script>

    {% endblock %}
  </head>
  <body>
    <div class="main-container">
      <h1>
        {% block maintitle %}
          Transfer founds
        {% endblock %}
      </h1>
      <div class="bar">
        {% if user_accounts %}
          <p id="bar">Welcome! {{ user_accounts.first.user.username }}</p>
        {% endif %}

        <a class="bar-button left-button" href="{% url 'account_details' %}">Home</a>
        <a class="bar-button" href="{% url 'logout' %}">Logout</a>
      </div>
      <h3 id="subtitle">
        {% block subtitle %}
          subtitle:
        {% endblock %}
      </h3>

      <div class="sub-container">
        {% block subcontainer %}

        {% endblock %}
      </div>
    </div>
  </body>
  {% block footercontent %}
    <footer>
      <p class="footer">
        FX exchange rates provided by <a href="https://fxratesapi.com">https://fxratesapi.com</a>
      </p>
    </footer>
  {% endblock %}
</html>