<title>delete account error</title>
{% extends 'base.html' %}
{% load static %}
{% block static_container %}
  <link rel="stylesheet" type="text/css" href="{% static 'common/css/common.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/delete_account_error.css' %}" />
  <script src="{% static 'common/js/common.js' %}"></script>
{% endblock %}

{% block maintitle %}
  ERROR!
{% endblock %}
{% block subtitle %}
  warning!
{% endblock %}
{% block subcontainer %}
  <h2 id="error">{{error_message}}</h2>
  <ul>
    <li id="positive-balance">Balance: {{ account.balance }}</li>
    <li>account number: {{ account.account_number }}</li>
    <li>currency: {{ account.currency }}</li>
  </ul>
  <p>returning Home in 10 seconds...</p>
  <div class="spinner" id="loading-spinner"></div>
  <a href="{% url 'account_details' %}">return to Home now</a>
  <script>
    redirectAfterDelay("{% url 'account_details' %}", 10000)
  </script>
{% endblock %}
