<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    {% extends 'base.html' %}
    {% load static %}
    {% block static_container %}
      <link rel="stylesheet" type="text/css" href="{% static 'common/css/common.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/login-styles.css' %}" />
      <script src="{% static 'common/js/common.js' %}"></script>
    {% endblock %}
  </head>
  <body>
    <div class="main-container">
      <h1>
        {% block maintitle %}
          Welcome! Multi-currency banking system in Django
        {% endblock %}
      </h1>
      {% block navbar %}
        <div class="bar">
            <p id="bar">
           username: testuser password: test123123</p>

          <a class="bar-button left-button" href="{% url 'account_details' %}">Home</a>
          <a class="bar-button" href="{% url 'logout' %}">Logout</a>
        </div>
      {% endblock %}
      {% block subtitle %}
      {% endblock %}
      <div class="sub-container">
        {% block subcontainer %}
        <h2>Please enter your username and password:</h2>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" id="login-button" class="button">Login</button>
        </form>
        <a href="{% url 'register' %}">Dont have an account? Register!</a>
        {% endblock %}
      </div>
    </div>
  </body>
</html>
