<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}"/>
</head>
<body>
    <div class="main-container">
    <h1>Login</h1>
    <div class="sub-container">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" id="login-button" class="button">Login</button>
    </form>
    <a href="{% url 'register' %}">Dont have an account? Register!</a>
    </div>
    </div>
</body>
</html>
