<!DOCTYPE html>
<html>
<head>
    <title>Save Frequent Destination</title>
</head>
<body>
    <h2>Save as Frequent Destination?</h2>
    <form method="post" action="{% url 'save_frequent_destination' %}">
        {% csrf_token %}
        <input type="hidden" name="receiver_account_number" value="{{ receiver_account_number }}">
        <label for="nickname">Nickname:</label><br>
        <input type="text" id="nickname" name="nickname"><br>
        <input type="submit" value="Save as Frequent Destination">
    </form>
</body>
</html>
