<title>Open New account</title>
{% extends 'base.html' %}
{% block maintitle %}
  Open new account
{% endblock %}
{% block subtitle %}
  Choose Currency:
{% endblock %}
{% block subcontainer %}
  <form method="post">
    {% csrf_token %}
    <select id="currency" name="currency">
      {% for currency_code, currency_name in currencies %}
        <option value="{{ currency_code }}">{{ currency_name }}</option>
      {% endfor %}
    </select>
    <input type="submit" value="Create Account" class="button" />
  </form>
{% endblock %}
