<!DOCTYPE html>
<html>
<head>
    <title>Success</title>
</head>
<body>
    <h2>Success</h2>
    <p>Your transaction was successful!</p>
    <form method="post" action="{% url 'save_frequent_destination' %}">
        {% csrf_token %}
        <input type="hidden" name="receiver_account_number" value="{{ receiver_account_number }}">
        <input type="hidden" name="nickname" value="{{ receiver_nickname }}">
        <input type="submit" value="Save as Frequent Destination">
    </form>
    <a href="{% url 'account_details' %}">Go back to Account Details</a>
</body>
</html>
