{% extends 'base.html' %}
<title>Transaction History</title>

{% block maintitle %}
  Transaction history
{% endblock %}
{% block subtitle %}
  Your transactions:
{% endblock %}
{% block subcontainer %}
  {% if transactions %}
    <ul>
      {% for transaction in transactions %}
        <li>{{ transaction.sender.user.username }} sent {{ transaction.sender.currency }} {{ transaction.amount }} to {{ transaction.receiver.user.username }} on {{ transaction.timestamp }}</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No transactions found.</p>
  {% endif %}
{% endblock %}
