<!DOCTYPE html>
{% extends "base.html" %}
<html>
  <head>
    <title>Frequent Destination Saved</title>
  </head>
  <body>
    {% block maintitle %}
      Save frequent recipient
    {% endblock %}
    {% block subtitle %}
          {{message}}
        {% endblock %}

    {% block subcontainer %}
    <p>returning Home in 10 seconds...</p>
    <div class="spinner" id="loading-spinner"></div>
    <a href="{% url 'account_details' %}">return to Home now</a>
    <script>
      redirectAfterDelay("{% url 'account_details' %}", 10000)
    </script>    {% endblock %}
  </body>
</html>
