{% extends 'base.html' %}
<title>Transaction Success</title>
{% load static %}
{% block static_container %}
  <link rel="stylesheet" type="text/css" href="{% static 'common/css/common.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/transaction_success.css' %}" />

  <script src="{% static 'common/js/common.js' %}"></script>
{% endblock %}

{% block maintitle %}
  Transfer founds
{% endblock %}

{% block subtitle %}
  Your transaction was successful!
{% endblock %}
{% block subcontainer %}
  <form method="post" action="{% url 'save_frequent_destination_prompt' %}">
    {% csrf_token %}
    <input type="hidden" name="receiver_account_number" value="{{ receiver_account_number }}" />
    <label for="nickname">save this account for future transfers with a Nickname:</label><br />
    <input type="text" id="nickname" name="nickname" class="input" /><br />
    <input type="submit" id="save-frequent-button" value="Save as Frequent recipient" class="button" />
  </form>
  <a href="{% url 'account_details' %}" type="button" class="button">return to Home now</a>
{% endblock %}
